CLIN_API_URL=http url to the clinical api container - this must be the address OF THE SERVER (e.g. holon) ex. http://holon_ip:clin_api_port/
GT_API_URL=http url to the custodian api container - this must be the address OF THE SERVER (e.g. holon) ex. http://holon_ip:custodian_api_port/ 